Source: globus-dsi-rest
Priority: optional
Maintainer: Globus Toolkit <support@globus.org>
Build-Depends: debhelper (>= 9), autotools-dev, libglobus-gridftp-server-dev, libglobus-common-dev, libglobus-xio-dev, libjansson-dev, libcurl4-openssl-dev, doxygen, graphviz, dh-exec, openssl, globus-gass-copy-progs, globus-gridftp-server-progs, liburi-perl
Standards-Version: 3.9.6
Section: libs
#Vcs-Git: git://anonscm.debian.org/collab-maint/globus-gridftp-server-s3.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/globus-gridftp-server-s3.git;a=summary

Package: libglobus-dsi-rest0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus DSI REST Helper API

Package: libglobus-dsi-rest-dev
Architecture: any
Depends: globus-dsi-rest0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Globus DSI REST Helper API Development Files

Package: globus-dsi-rest-doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus DSI REST Helper API Development Files

Package: globus-dsi-rest-dbg
Architecture: any
Depends: globus-dsi-rest (= ${binary:Version}), ${misc:Depends}
Description: Globus DSI REST Helper API Debug Symbols
